<p>register works!</p>
<div>
    <form [formGroup]="registerForm">
        <div class="form-group">
            <label for="name">שם משתמש</label>
            <input type="text" class="form-control" formControlName="userName" [value]="">
            <ng-container *ngIf="registerForm.controls['userName'].errors&& !registerForm.controls['userName'].pristine">
                <div class="alert alert-danger"> not name valid</div>
            </ng-container>
        </div>
        <div class="form-group">
            <label>כתובת</label>
            <input type="text" class="form-control" formControlName="address">
            <ng-container *ngIf="registerForm.controls['address'].errors&& !registerForm.controls['address'].pristine">
                <div class="alert alert-danger"> not address valid</div>
            </ng-container>
        </div>
        <div class="form-group">
            <label>מייל</label>
            <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@gmail.com" formControlName="email">
            <ng-container *ngIf="registerForm.controls['email'].errors&& !registerForm.controls['email'].pristine">
                <div class="alert alert-danger"> not email valid</div>
            </ng-container>
        </div>
        <div class="form-group">
            <label>סיסמא</label>
            <input type="password" class="form-control"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,12}" formControlName="password">
            <ng-container *ngIf="registerForm.controls['password'].errors&& !registerForm.controls['password'].pristine">
                <div class="alert alert-danger"> הסיסמא חייבת להכיל לפחות אות קטנה אחת, אות גדולה אחת ומספר אחד. 6-12 תווים</div>
            </ng-container>
        </div>

        <button class="save" [disabled]="!registerForm.valid" (click)="register()">שלח</button>
    </form>


</div>
